@font-face {
    font-family: 'Lato-LightItalic';
    src: url('../fonts/LatoLightItalic/Lato-LightItalic.eot');
    src: url('../fonts/LatoLightItalic/Lato-LightItalic.woff') format('woff'),
        url('../fonts/LatoLightItalic/Lato-LightItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Italic';
    src: url('../fonts/LatoItalic/Lato-Italic.eot');
    src: url('../fonts/LatoItalic/Lato-Italic.woff') format('woff'),
       url('../fonts/LatoItalic/Lato-Italic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Light';
    src: url('../fonts/LatoLight/Lato-Light.eot');
    src: url('../fonts/LatoLight/Lato-Light.woff') format('woff'),
       url('../fonts/LatoLight/Lato-Light.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/LatoRegular/Lato-Regular.eot');
    src: url('../fonts/LatoRegular/Lato-Regular.woff') format('woff'),
       url('../fonts/LatoRegular/Lato-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/LatoBold/Lato-Bold.eot');
    src: url('../fonts/LatoBold/Lato-Bold.woff') format('woff'),
       url('../fonts/LatoBold/Lato-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DroidSans';
    src: url('../fonts/DroidSans/DroidSans.eot');
    src: url('../fonts/DroidSans/DroidSans.woff') format('woff'),
       url('../fonts/DroidSans/DroidSans.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'DroidSans-Bold';
  src: url('../fonts/DroidSansBold/DroidSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSansBold';
  src: url('../fonts/DroidSansBold/DroidSansBold.eot');
  src: url('../fonts/DroidSansBold/DroidSansBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}