@media (min-width: 1120px) {}
@media (min-width: 992px) {}
@media (max-width: 991px){
    .header p{
        max-width: 90%;
    }
    .header .navigation{
        display: none;
    }
    .header .fa-bars{
        display: inline-block;
        margin: 40px 50px;
        float: right;
    }
    .section .bx-wrapper {
        margin-bottom: 36px;
    }
    .section .bx-wrapper .bx-controls-direction a {
        bottom: -18%;
    }
    .section .line-wrap{
        max-height: 1em;
    }
    .section .line{
        height: 1px;
        width: 100%;
        margin-top: -10px;
    }
    footer{
        max-height: 340px;
        font-size: 90%;
    }
}
@media (max-width: 800px){
    footer{
        max-height: 240px;
    }
    footer .bold a .fa{
        color: #fff;
        font-size: 1.3em;
        padding-left: 4px;
        display: inline-block;
        transition: color ease 0.4s;
    }
    footer .bold:hover .fa{
        color: #fe992a;
        transition: color ease 0.4s;
    }
    footer .bold ul li{
        display: none;
    }
}
@media (max-width: 700px){
    footer .contacts{
        min-width: 40%;
    }
    footer .bottom_menu{
        max-width: 50%;
        padding-left: 20%;
    }
    footer .bold{
        display: block;
        line-height: 1.75;
    }
}
