a, a:hover, a:active{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    font-family: 'Lato-Regular';
    font-weight: 300;
}
.main_container{
    width: 100%;
}
.container_inner{
    display: block;
    margin: 0 auto;
    max-width: 1600px;
}
.container{
    overflow: hidden;
}
.header{
    display: inline-block;
    width: 100%;
    background-image: url(../img/header_bg.jpg);
    background-repeat: no-repeat;
    height: 920px;
}
.header .logo{
    display: inline-block;
    width: 25%;
    vertical-align: top;
}
.header .logo img{
    margin: 25px 0 0 25px;
    transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -webkit-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
}
.header .logo a:hover img{
    background-color: #fe992a;
    transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    -webkit-transition: background-color 0.8s ease;
    -o-transition: background-color 0.8s ease;
}
.header .fa-bars{
    color: #fff;
    text-shadow: 1px 1px 1px #417a97;
    font-size: 3em;
    display: none;
    cursor: pointer;
}
.navigation{
    margin-top: 40px;
    display: inline-block;
    width: 74%;
}
.menu li{
    width: 10em;
    display: inline-block;
    padding: 7px 15px;
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent;
}
.menu li:hover,
.menu li:hover .menu_drop li{
    background-color: rgba(135, 196, 199, 0.8);
    transition: all 0.5s ease-in-out;
}
.menu .menu_list .menu_drop li:hover{
    background-color: rgba(87, 167, 172, 0.8);
    transition: all 0.5s ease-in-out;
    padding: 7px 5px 7px 25px;
}
.menu li a{
    color: #fff;
    font-family: 'Lato-Bold';
}
.menu_list{
    position: relative;
}
.menu_list::after{
    content: " ";
    border: 4px solid;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    top: 13px;
    margin-left: 10px;
    transition: all 0.5s ease-in-out;
}
.menu_list:hover::after{
    transform: scaleY(-1);
}
.menu_drop{
    position: absolute;
    top: 0;
    left: -2px;
    height: 0;
    width: 100%;
    z-index: 99;
    border: 1px solid transparent;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.menu li:hover .menu_drop{
    opacity: 1;
    top: 34px;
    transition: all 0.5s ease-in-out;
    height: auto;
}
.menu li .menu_drop li{
    display: block;
    height: 0;
    padding: 0 15px;
    transition: all 0.5s ease-in-out;
    width: 10em
    opacity: 0;
}
.menu li:hover .menu_drop li{
    padding: 7px 15px;
    height: auto;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
.header{
    position: relative;
    overflow: hidden;
}
.header .main_title{
    display: block;
    margin-left: 25%;
}
.header .animated{
    animation-duration: 2s;
}
.header h2{
    margin-top: 150px;
    font-size: 4em;
    font-family: 'Lato-Light';
    color: #fff;
    text-shadow: 1px 1px 1px #50a4a9;
}
.header p{
    font-size:  1em;
    text-shadow: 1px 1px 1px #50a4a9;
    line-height: 2;
    color: #fff;
    padding: 10px;
    max-width: 50%;
}
.header::before {
    background-color: #fff;
    bottom: -90px;
    content: '';
    display: block;
    height: 100px;
    width: 200%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(1.2deg);
    transform-origin: 100%;
    z-index: 1;
}
.header::after {
    background-color: rgba(255, 255, 255, 0.5);
    bottom: -35px;
    content: '';
    display: block;
    height: 100px;
    width: 200%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(0.3deg);
    transform-origin: 100%;
    z-index: 1;
}
.section{
    margin: 50px 0 80px 0;
    background-color: #fff;
    position: relative;
}
.section .animated{
    animation-duration: 1.8s;
}
.section .bx-wrapper{
    box-shadow: none;
    border: none;
}
.section .bxslider li{
    color: #fe992a;
    font-size: 1.5em;
    font-family: 'Lato-Italic';
    position: relative;
    padding: 30px 0;
}
.section .bxslider li::before{
    content: "";
    top: 5px;
    position: absolute;
    width: 14px;
    height: 13px;
    background-image: url(../img/quote_top.png);
}
.section .bxslider li::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 13px;
    background-image: url(../img/quote_bottom.png);
    bottom: 10px;
}
.section .line{
    display: inline-block;
    width: 1px;
    height: 270px;
    background-color: #eaeaea;
    margin: 34px 0 0 0;
}
.section .descrip h4{
    color: #fe992a;
    font-size: 2em;
    margin: 28px 0 15px 0;
}
.section .descrip p{
    width: 100%;
    color: #737c85;
    line-height: 2;
    text-align: justify;
}
footer{
    width: 100%;
    padding-top: 50px;
    background-color: #e87775;
    color: #fff;
    height: 470px;
    font-family: 'DroidSans';
    overflow: hidden;
    z-index: 10;
}
footer .contacts{
    display: inline-block;
    margin-left: 4.5%;
    width: 25%;
    vertical-align: top;
}
footer .bottom_menu{
    display: inline-block;
    width: 69%;
    vertical-align: top;
}
footer .bold{
    font-family: 'DroidSans-Bold', 'DroidSansBold';
    display: inline-block;
    vertical-align: top;
}
footer .contacts .bold{
    margin-top: 33px;
}
footer .bottom_menu .bold{
    margin: 0 3% 0 3%;
}
footer .bold ul{
    padding-top: 5px;
}
footer .bold ul li a{
    font-family: 'DroidSans';
    color: #fff;
    line-height: 2.25;
    position: relative;
}
footer .bold a .fa{
    display: none;
}
footer .bold ul li a::after{
    position: absolute;
    content: "";
    height: 1px;
    width: 0%;
    background-color: #fff;
    left: 0;
    bottom: -1px;
    transition: width ease 0.4s;
}
footer .bold ul li a:hover::after{
    width: 100%;
    transition: width ease 0.4s;
}
.bottom_menu .animated{
    animation-duration: 1.8s;
}