@font-face {
  font-family: 'DroidSans-Bold';
  src: url('DroidSans-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSansBold';
  src: url('DroidSansBold.eot');
  src: url('DroidSansBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

