@font-face {
  font-family: 'DroidSans';
  src: url('DroidSans.eot');
  src: url('DroidSans.woff') format('woff'),
       url('DroidSans.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

