@font-face {
  font-family: 'Lato-Bold';
  src: url('Lato-Bold.eot');
  src: url('Lato-Bold.woff') format('woff'),
       url('Lato-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

