@font-face {
  font-family: 'Lato-Italic';
  src: url('Lato-Italic.eot');
  src: url('Lato-Italic.woff') format('woff'),
       url('Lato-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

