@font-face {
    font-family: 'Lato-LightItalic';
    src: url('Lato-LightItalic.eot');
    src: url('Lato-LightItalic.woff') format('woff'),
        url('Lato-LightItalic.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

